<main id="main" class="main container">
    <div class="row mb-3">
        <h3>Listagens de Livros</h3>
        <p>Veja todos os livros. Use os filtros abaixo para refinar os resultados.</p>
    </div>

    <form method="GET" action="/relatorios/vendas/vendas_concluida" class="row g-3 mb-4">
        <div class="col-md-2">
            <label>Data Início</label>
            <input type="date" name="inicio" value="{{filtros.inicio}}" class="form-control" />
        </div>
        <div class="col-md-2">
            <label>Data Fim</label>
            <input type="date" name="fim" value="{{filtros.fim}}" class="form-control" />
        </div>

        <div class="col-md-2">
            <label>Cliente</label>
            <select name="clienteId" class="form-select">
                <option value="">Todos</option>
                
                <option>
                    {{nome}}</option>
               
            </select>
        </div>
        <div class="col-md-2">
            <label>Produto</label>
            <select name="produtoId" class="form-select">
                <option value="">Todos</option>
                {{#each produtos}}
                <option value="{{produto_id}}">{{nome}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-md-2">
            <label>Usuário</label>
            <select name="usuarioId" class="form-select">
                <option value="">Todos</option>
                {{#each usuarios}}
                <option value="{{user_id}}">{{nome}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Filtrar</button>
        </div>
    </form>

    {{!-- {{#each vendas}} --}}
       <!-- START CARTEIRA DE PROJECTOS -->
    <div class='ptb-100 animateLado'>
        <section id="projectos" class="projectos section">

            <div class=" text-center section-title" data-aos="fade-up">
                <h2 class='display-5 fw-bold pb-2 border-bottom'>Carteira de Projectos</h2>
                <p>Temos um portfólio diversificado que reflete nosso compromisso com a reinvenção e melhoria contínua
                    em Angola.</p>
            </div>

            <div class="container-md pt-5">
                <div class="row g-5">
                    <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="projecto-item item-cyan position-relative">
                                <div class="pr-4">
                                    <img src="/images/1 (1).jpg" alt="" style="width: 80px;">
                                </div>
                            <div>
                                <h3>A vida em um Ano</h3>
                                <p>Lançamento: 2006</p>
                                <p>Genero: Romance</p>
                                <p>Autor: Hiller White</p>
                                <p>preço: 200kz</p>

                                <a href="#" class="read-more stretched-a">Saiba Mais <iclass="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END CARTEIRA DE PROJECTOS-->

    {{!-- {{else}} --}}
    <div class="alert alert-warning text-center">Nenhuma livro encontrada.</div>
    {{!-- {{/each}} --}}

    
    <div class="mt-3">
        <p><strong>Total de pedidos:</strong> {{totalPedidos}}</p>
    </div>
  

</main>